<!DOCTYPE html>
<html lang="ko">
<head>
   <title>SOP JavaScript : Map Simple</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script type="text/javascript" src="https://sgisapi.kostat.go.kr/OpenAPI3/auth/javascriptAuth?consumer_key=48967562d7d0436b8d07"></script>
</head>
<body>
   <div id="map" style="width:500px; height:500px;"></div>
   <script type="text/javascript">
        var map = sop.map('map');
       map.setView(sop.utmk(953820, 1953437), 9);
   </script>
</body>
</html>